# RISCV_CODASIP_L110 SOC implementation

# Copyright (c) 2024 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_CODASIP_L110
        bool "Codasip L110 SOC implementation"
        select RISCV
        select RISCV_PRIVILEGED
        select SOC_FAMILY_CODASIP_L100
        help
          Enable support for Codasip L110 SOC
