# Copyright (c) 2024 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

config BOARD_CODASIP_HOBGOBLIN_H730
	bool "Hobgoblin Board with Codasip RISC-V H730 CPU"
	depends on SOC_CODASIP_H730HOBGOBLIN
