# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

config CODASIP_PIC
	bool "Codasip Peripheral Interrupt Controller (PIC)"
	default y
	depends on DT_HAS_CODASIP_PIC_ENABLED
	select MULTI_LEVEL_INTERRUPTS
	select 2ND_LEVEL_INTERRUPTS
	help
	  Codasip Perpherial Interrupt Controller provides support
	  for external interrupt lines.

# OLD:	depends on DT_HAS_SIFIVE_PLIC_1_0_0_ENABLED

