# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_CODASIP_730

config SOC_SERIES
        default "codasip_730"

source "soc/riscv/codasip_700/codasip_730/Kconfig.defconfig.7*"

endif # SOC_SERIES_CODASIP_730
