#
# Copyright (c) 2024 Codasip s.r.o.
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SOC_SERIES_CODASIP_730=y
CONFIG_SOC_CODASIP_A730=y
CONFIG_BOARD_CODASIP_HOBGOBLIN_A730=y
CONFIG_BASE64=y
CONFIG_GPIO=y
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_RISCV_SOC_INTERRUPT_INIT=y
CONFIG_XIP=n
CONFIG_CLOCK_CONTROL=n
CONFIG_HEAP_MEM_POOL_SIZE=4096

# Required for Codasip 700 Series PMP as the minimum alignment is 4k
CONFIG_PMP_GRANULARITY=4096
