/*
 * Copyright (c) 2024 Codasip s.r.o.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* See: https://docs.zephyrproject.org/latest/hardware/porting/board_porting.html */

/dts-v1/;

#include <codasip/a730.dtsi>
#include <codasip/hobgoblin.dtsi>
#include <zephyr/devicetree/gpio.h>

/ {
        compatible = "codasip,hobgoblin-a730";

        aliases {
                led0 = &led0;
                led1 = &led1;
                led2 = &led2;
                led3 = &led3;
                led4 = &led4;
                led5 = &led5;
                led6 = &led6;
                led7 = &led7;

                sd-pwr-en-n-out  = &sd_pwr_en_n_out;
                sd-fast-clk-en   = &sd_40mhz_clk_en;
                sys-rst-req      = &sys_rst_req;

                sw0 = &sw0;
                sw1 = &sw1;
                sw2 = &sw2;
                sw3 = &sw3;
                sw4 = &sw4;
                sw5 = &sw5;
                sw6 = &sw6;
                sw7 = &sw7;

                sd-card-detect-n = &sd_card_detect_n;
                sd-pwr-en-n-in   = &sd_pwr_en_n_in;
        };

        chosen {
                zephyr,console = &uart0;
                zephyr,shell-uart = &uart0;
                zephyr,sram = &sram0;
                /* zephyr,sram = &dram0; */
        };

        outputs {
            /* GPIO00 = SWITCH/LED */
                compatible = "gpio-leds";
                led0: led0 {
                        gpios = <&gpio00 0 GPIO_ACTIVE_LOW>;
                        label = "LED_0";
                };
                led1: led1 {
                        gpios = <&gpio00 1 GPIO_ACTIVE_LOW>;
                        label = "LED_1";
                };
                led2: led2 {
                        gpios = <&gpio00 2 GPIO_ACTIVE_LOW>;
                        label = "LED_2";
                };
                led3: led3 {
                        gpios = <&gpio00 3 GPIO_ACTIVE_LOW>;
                        label = "LED_3";
                };
                led4: led4 {
                        gpios = <&gpio00 4 GPIO_ACTIVE_LOW>;
                        label = "LED_4";
                };
                led5: led5 {
                        gpios = <&gpio00 5 GPIO_ACTIVE_LOW>;
                        label = "LED_5";
                };
                led6: led6 {
                        gpios = <&gpio00 6 GPIO_ACTIVE_LOW>;
                        label = "LED_6";
                };
                led7: led7 {
                        gpios = <&gpio00 7 GPIO_ACTIVE_LOW>;
                        label = "LED_7";
                };

            /* GPIO01 - AUX */
                sd_pwr_en_n_out: sd_pwr_en_n_out {
                        gpios = <&gpio01 1 GPIO_ACTIVE_LOW>;
                        label = "SD_PWR_EN_N_OUT";
                };

                sd_40mhz_clk_en: sd_40mhz_clk_en {
                        gpios = <&gpio01 2 GPIO_ACTIVE_HIGH>;
                        label = "SD_40MHZ_CLK_EN";
                };

                sys_rst_req: sys_rst_req {
                        gpios = <&gpio01 3 GPIO_ACTIVE_HIGH>;
                        label = "SYS_RST_REQ";
                };
        };

        inputs {
            /* GPIO00 = SWITCH/LED */
                compatible = "gpio-keys";
                sw0: sw0 {
                        gpios = <&gpio00  8 GPIO_ACTIVE_LOW>;
                        label = "SW_0";
                };
                sw1: sw1 {
                        gpios = <&gpio00  9 GPIO_ACTIVE_LOW>;
                        label = "SW_1";
                };
                sw2: sw2 {
                        gpios = <&gpio00 10 GPIO_ACTIVE_LOW>;
                        label = "SW_2";
                };
                sw3: sw3 {
                        gpios = <&gpio00 11 GPIO_ACTIVE_LOW>;
                        label = "SW_3";
                };
                sw4: sw4 {
                        gpios = <&gpio00 12 GPIO_ACTIVE_LOW>;
                        label = "SW_4";
                };
                sw5: sw5 {
                        gpios = <&gpio00 13 GPIO_ACTIVE_LOW>;
                        label = "SW_5";
                };
                sw6: sw6 {
                        gpios = <&gpio00 14 GPIO_ACTIVE_LOW>;
                        label = "SW_6";
                };
                sw7: sw7 {
                        gpios = <&gpio00 15 GPIO_ACTIVE_LOW>;
                        label = "SW_7";
                };

                but0: but0 {
                        gpios = <&gpio00 16 GPIO_ACTIVE_LOW>;
                        label = "BUT_0";
                };
                but1: but1 {
                        gpios = <&gpio00 17 GPIO_ACTIVE_LOW>;
                        label = "BUT_1";
                };
                but2: but2 {
                        gpios = <&gpio00 18 GPIO_ACTIVE_LOW>;
                        label = "BUT_2";
                };
                but3: but3 {
                        gpios = <&gpio00 19 GPIO_ACTIVE_LOW>;
                        label = "BUT_3";
                };
                but4: but4 {
                        gpios = <&gpio00 20 GPIO_ACTIVE_LOW>;
                        label = "BUT_4";
                };

            /* GPIO01 - AUX */
                sd_card_detect_n: sd_card_detect_n {
                        gpios = <&gpio01 0 GPIO_ACTIVE_LOW>;
                        label = "SD_CARD_DETECT_N";
                };

                sd_pwr_en_n_in: sd_pwr_en_n_in {
                        gpios = <&gpio01 1 GPIO_ACTIVE_LOW>;
                        label = "SD_PWR_EN_N_IN";
                };
        };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};

&gpio00 {
    status = "okay";
};

&gpio01 {
    status = "okay";
};

&spi1 {
    status = "okay";
};
