# RISCV_CODASIP_L31 SOC implementation

# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RISCV_CODASIP_L31
	bool "Codasip L31 SOC implementation"
	select RISCV
	select SOC_FAMILY_RISCV_PRIVILEGE
	help
	  Enable support for Codasip L31 SOC
