/*
 * Copyright (c) 2023 Codasip s.r.o.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* See: https://docs.zephyrproject.org/latest/hardware/porting/board_porting.html */

/dts-v1/;

#include <codasip/l31helium.dtsi>
#include <codasip/ghostship.dtsi>
#include <zephyr/devicetree/gpio.h>

/ {
        compatible = "codasip,ghostship-l31helium";

        aliases {
                led0 = &led0;
                led1 = &led1;
                led2 = &led2;
                led3 = &led3;
                led4 = &led4;
                led5 = &led5;
                led6 = &led6;
                led7 = &led7;

                sd-pwr-en-n-out  = &sd_pwr_en_n_out;
                irq2 = &irq2;
                irq3 = &irq3;

                sw0 = &sw0;
                sw1 = &sw1;
                sw2 = &sw2;
                sw3 = &sw3;
                sw4 = &sw4;
                sw5 = &sw5;
                sw6 = &sw6;
                sw7 = &sw7;

                sd-card-detect-n = &sd_card_detect_n;
                sd-pwr-en-n-in = &sd_pwr_en_n_in;
        };

        chosen {
                zephyr,console = &uart0;
                zephyr,shell-uart = &uart0;
                zephyr,sram = &sram0;
        };

        leds {
        /* GPI0O = SWITCH/LED */
                compatible = "gpio-leds";
                led0: led0 {
                        gpios = <&gpio00 0 GPIO_ACTIVE_LOW>;
                        label = "LED_0";
                };
                led1: led1 {
                        gpios = <&gpio00 1 GPIO_ACTIVE_LOW>;
                        label = "LED_1";
                };
                led2: led2 {
                        gpios = <&gpio00 2 GPIO_ACTIVE_LOW>;
                        label = "LED_2";
                };
                led3: led3 {
                        gpios = <&gpio00 3 GPIO_ACTIVE_LOW>;
                        label = "LED_3";
                };
                led4: led4 {
                        gpios = <&gpio00 4 GPIO_ACTIVE_LOW>;
                        label = "LED_4";
                };
                led5: led5 {
                        gpios = <&gpio00 5 GPIO_ACTIVE_LOW>;
                        label = "LED_5";
                };
                led6: led6 {
                        gpios = <&gpio00 6 GPIO_ACTIVE_LOW>;
                        label = "LED_6";
                };
                led7: led7 {
                        gpios = <&gpio00 7 GPIO_ACTIVE_LOW>;
                        label = "LED_7";
                };

        /* GPIO1 - AUX */
        sd_pwr_en_n_in: sd_pwr_en_n_in {
                        gpios = <&gpio01 1 GPIO_ACTIVE_LOW>;
                        label = "SD_PWR_EN_N_IN";   
                };
        irq2: irq2 {
                        gpios = <&gpio01 2 GPIO_ACTIVE_HIGH>;   /* This output connects to PIC interrupt input port 2 */
                        label = "IRQ_2";    
                };
        irq3: irq3 {
                        gpios = <&gpio01 3 GPIO_ACTIVE_HIGH>;   /* This output connects to PIC interrupt input port 3 */
                        label = "IRQ_3";    
                };
        };

        keys {
        /* GPIO = SWITCH/LED */
                compatible = "gpio-keys";
                sw0: sw0 {
                        gpios = <&gpio00 0 GPIO_ACTIVE_LOW>;
                        label = "SW_0";
                };
                sw1: sw1 {
                        gpios = <&gpio00 1 GPIO_ACTIVE_LOW>;
                        label = "SW_1";
                };
                sw2: sw2 {
                        gpios = <&gpio00 2 GPIO_ACTIVE_LOW>;
                        label = "SW_2";
                };
                sw3: sw3 {
                        gpios = <&gpio00 3 GPIO_ACTIVE_LOW>;
                        label = "SW_3";
                };
                sw4: sw4 {
                        gpios = <&gpio00 4 GPIO_ACTIVE_LOW>;
                        label = "SW_4";
                };
                sw5: sw5 {
                        gpios = <&gpio00 5 GPIO_ACTIVE_LOW>;
                        label = "SW_5";
                };
                sw6: sw6 {
                        gpios = <&gpio00 6 GPIO_ACTIVE_LOW>;
                        label = "SW_6";
                };
                sw7: sw7 {
                        gpios = <&gpio00 7 GPIO_ACTIVE_LOW>;
                        label = "SW_7";
                };

        /* GPIO - AUX */
                sd_card_detect_n: sd_card_detect_n {
                        gpios = <&gpio01 0 GPIO_ACTIVE_LOW>;
                        label = "SD_CARD_DETECT_N";
                };
                sd_pwr_en_n_out: sd_pwr_en_n_out {
                        gpios = <&gpio01 1 GPIO_ACTIVE_LOW>;
                        label = "SD_PWR_EN_N_OUT";
                };
        };
};

&gpio00 {
    status = "okay";
};

&gpio01 {
    status = "okay";
};

/*
&uart0 {
    status = "okay";
    current-speed = <115200>;
};

&timer0 {
    status = "okay";
};

&eth0 {
    status = "okay";
};

&dna0 {
    status = "okay";
};

&spi0 {
    status = "okay";
};

&prbs0 {
    status = "okay";
};

&i2c0 {
    status = "okay";
};

&pwm0 {
    status = "okay";
};

&gpio_out {
    status = "okay";
};

&gpio_in {
    status = "okay";
};

&i2s_rx {
    status = "okay";
};

&i2s_tx {
    status = "okay";
};

&clk0 {
    status = "okay";
};

&clk1 {
    status = "okay";
};

&clock0 {
    status = "okay";
};
*/

