# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

if BOARD_CODASIP_GHOSTSHIP_L31HELIUM

config BOARD
	default "ghostship-l31helium"

endif # BOARD_CODASIP_GHOSTSHIP_L31HELIUM
