/*
 * Copyright (c) 2023 Codasip s.r.o.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* See: https://docs.zephyrproject.org/latest/hardware/porting/board_porting.html */

#include <codasip/l31carbon.dtsi>

/ {
        soc {
                trng0: trng@60510000 {
                        compatible = "codasip,fpga-trng-0_1";
                        reg = <0x60510000 0x18>;
                        #address-cells = <1>;
                        #size-cells = <0>;
                        status = "okay";
                };
                wdt0: wdt@60520000 {
                        compatible = "codasip,fpga-wdt-0_02";
                        reg = <0x60520000 0x1C>;
                        clock-frequency = <25000000>;
                        status = "okay";
                };
        };
};
