# Codasip L31 Helium SPI Driver configuration options

# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

config SPI_CODASIP_L31HELIUM
        bool "Codasip L31 Helium SPI controller driver"
        default y
        depends on DT_HAS_CODASIP_L31HELIUM_SPI_ENABLED
        help
          Enable the SPI peripherals on Codasip L31 Helium SOC

