# Codasip L31 FPGA SPI Driver configuration options

# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

config ENTROPY_CODASIP_FPGA_TRNG_0_1
        bool "Codasip FPGA TRNG (revision 0.1) controller driver"
        default y
        depends on DT_HAS_CODASIP_FPGA_TRNG_0_1_ENABLED
        select ENTROPY_HAS_DRIVER
        help
          Enable the TRNG peripherals on Codasip FPGA SOC
