# Copyright (c) 2023 Codasip s.r.o.
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Codasip L31 SOC implementation"
	depends on SOC_SERIES_RISCV_CODASIP_L31


config SOC_CODASIP_L31HELIUM
	bool "Codasip RISC-V L31 Helium system implementation"
	select RISCV
	select ATOMIC_OPERATIONS_C
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
#	select RISCV_ISA_EXT_A        NOTE: L31 does not support atomic instructions
	select RISCV_ISA_EXT_F
	select RISCV_ISA_EXT_C

	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

# See: arch/riscv/Kconfig.isa
	select RISCV_ISA_EXT_ZBA
	select RISCV_ISA_EXT_ZBB
	select RISCV_ISA_EXT_ZBC
	select RISCV_ISA_EXT_ZBS


config SOC_CODASIP_L31CARBON
	bool "Codasip RISC-V L31 Carbon system implementation"
	select RISCV
	select ATOMIC_OPERATIONS_C
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
#	select RISCV_ISA_EXT_A        NOTE: L31 does not support atomic instructions
#	select RISCV_ISA_EXT_F
	select RISCV_ISA_EXT_C

	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

# See: arch/riscv/Kconfig.isa
	select RISCV_ISA_EXT_ZBA
	select RISCV_ISA_EXT_ZBB
	select RISCV_ISA_EXT_ZBC
	select RISCV_ISA_EXT_ZBS


config SOC_CODASIP_L31FLUORINE
	bool "Codasip RISC-V L31 Fluorine system implementation"
	select RISCV
	select ATOMIC_OPERATIONS_C
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
#	select RISCV_ISA_EXT_A        NOTE: L31 does not support atomic instructions
#	select RISCV_ISA_EXT_F
	select RISCV_ISA_EXT_C

	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

# See: arch/riscv/Kconfig.isa
	select RISCV_ISA_EXT_ZBA
	select RISCV_ISA_EXT_ZBB
	select RISCV_ISA_EXT_ZBC
	select RISCV_ISA_EXT_ZBS

endchoice



if SOC_CODASIP_L31HELIUM

config SOC
	default "codasip-l31helium"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

config RISCV_SOC_INTERRUPT_INIT
	default y

config FPU
        default n # this should be y, but the link stage fails with: can't link soft-float modules with single-float modules

config RISCV_HAS_CPU_IDLE
	default y

config GPIO
	default y

config SERIAL
	default y

#config RISCV_HAS_CLIC
#	default n

#config RISCV_HAS_PLIC
#	default n

config CODASIP_HAS_FPGA_PIC
	default y

config NUM_PIC_IRQS
	int "Codasip PIC interrupt controller implementation"
	help
	  Enable support for Codasip PIC interrupt controller
	default 128

config 2ND_LEVEL_INTERRUPTS
        default y

config 2ND_LVL_ISR_TBL_OFFSET
        default 12

config 2ND_LVL_INTR_00_OFFSET
        default 11

# Total number of interrupts (NUM_PIC_IRQS + 2ND_LVL_ISR_TBL_OFFSET)
config NUM_IRQS
	default 44

config RISCV_PMP
	default y

config PMP_SLOTS
	default 16

config SPI
	default y

config SPI_EXTENDED_MODES
	default y

endif # SOC_CODASIP_L31HELIUM



if SOC_CODASIP_L31CARBON

config SOC
	default "codasip-l31carbon"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

config RISCV_SOC_INTERRUPT_INIT
	default y

config FPU
        default n
        
config RISCV_HAS_CPU_IDLE
	default y

config GPIO
	default y

config SERIAL
	default y

#config RISCV_HAS_CLIC
#	default n

#config RISCV_HAS_PLIC
#	default n

config CODASIP_HAS_FPGA_PIC
	default y

config NUM_PIC_IRQS
	int "Codasip PIC interrupt controller implementation"
	help
	  Enable support for Codasip PIC interrupt controller
	default 32

config 2ND_LEVEL_INTERRUPTS
        default y

config 2ND_LVL_ISR_TBL_OFFSET
        default 12

config 2ND_LVL_INTR_00_OFFSET
        default 11

# Total number of interrupts (NUM_PIC_IRQS + 2ND_LVL_ISR_TBL_OFFSET)
config NUM_IRQS
	default 44

config RISCV_PMP
	default y

config PMP_SLOTS
	default 8

config SPI
	default y

config SPI_EXTENDED_MODES
	default y

endif # SOC_CODASIP_L31CARBON



if SOC_CODASIP_L31FLUORINE

config SOC
	default "codasip-l31fluorine"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

config RISCV_SOC_INTERRUPT_INIT
	default y

config FPU
        default n
        
config RISCV_HAS_CPU_IDLE
	default y

config GPIO
	default y

config SERIAL
	default y

#config RISCV_HAS_CLIC
#	default n

#config RISCV_HAS_PLIC
#	default n

config CODASIP_HAS_FPGA_PIC
	default y

config NUM_PIC_IRQS
	int "Codasip PIC interrupt controller implementation"
	help
	  Enable support for Codasip PIC interrupt controller
	default 32

config 2ND_LEVEL_INTERRUPTS
        default y

config 2ND_LVL_ISR_TBL_OFFSET
        default 12

config 2ND_LVL_INTR_00_OFFSET
        default 11

# Total number of interrupts (NUM_PIC_IRQS + 2ND_LVL_ISR_TBL_OFFSET)
config NUM_IRQS
	default 44

config RISCV_PMP
	default y

config PMP_SLOTS
	default 8

config SPI
	default y

config SPI_EXTENDED_MODES
	default y

endif # SOC_CODASIP_L31FLUORINE
